########################################################
# Streams
########################################################
@IF(@PARAM1@==Streams)@
skill=autoselect,allowDuplicates

item_infos=>(?!Betting)([^<]+)</div><[^>]+>(?:<[^>]+>)?<[^>]+></div><[^>]+>(?:</div>)?(?:<[^>]+>)?(?:</div>)?<[^>]+>(?:<[^>]+>)?(?:<[^>]+>)?</span></div><div class='playerName'>\s*[!#\+]*([^<]+)
item_order=_title|player
item_skill=rss

item_info_name=title
item_info_from=player+' - '+_title
item_info_convert=replace('%s','Popular ','')
item_info_convert=replace('%s','Primary ','')
item_info_convert=replace('%s','Regular ','')
item_info_convert=replace('%s','  ',' ')
item_info_build=%s

item_info_name=cfg
item_info_from=_title+' r3g3x '+player
item_info_convert=replace('%s','(','\(')
item_info_convert=replace('%s',')','\)')
item_info_convert=replace('%s',' ','\s*')
item_info_convert=replace('%s','r3g3x','</div><[^>]+>(?:<[^>]+>)?<[^>]+></div><[^>]+>(?:</div>)?(?:<[^>]+>)?(?:</div>)?<[^>]+>(?:<[^>]+>)?(?:<[^>]+>)?</span></div><div class='playerName'>\s*[!#\+]*')
item_info_build=vipbox.tv.streams.cfg@Links@%s

item_url_build=%s


@ENDIF@
########################################################
# Links
########################################################
@IF(@PARAM1@==Links)@
skill=autoselect
catcher=streams

section=@PARAM2@.*?(?:<div\s*class='linkbar'>|</span>\s*</div>\s*</div>\s*</div>)

item_infos=href='\s*([^>]+?)\s*'\s*>\s*(Link[^<]+)\s*<
item_order=_url|title
item_skill=rss

item_info_name=url
item_info_from=_url
item_info_convert=urlMerge('@REFERER@','%s')
item_info_build=%s

item_url_build=%s

@ENDIF@
