########################################################
# http://www.streamlive.to/channels
########################################################
@IF(@PARAM1@!=Streams)@
start=http://www.streamlive.to
skill=videoTitle
catcher=streams
sort=name

item_infos=<name>(?![^<]+\s\(HD\))([^<]+)</name>\s*<url>http://www.streamlive.to/view/([^<]+)</url>\s*<image>([^<]+)</image>\s*<category>Live Sport
item_order=title|url|icon.tmp
item_skill=rss

item_info_name=icon
item_info_from=icon.tmp
item_info_build=%s|Referer=http://www.streamlive.to/&User-Agent=Mozilla/5.0 (Windows NT 6.3) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/47.0.2526.106 Safari/537.36

item_url_build=http://www.streamlive.to/embed/%s&width=640&height=480&autoplay=true
           