########################################################
# http://www.streamlive.to/channels
########################################################
@IF(@PARAM1@!=Channels)@
@IF(@PARAM1@!=Streams)@
skill=allowDuplicates
########################################################
title=All
cfg=ilive.to.cfg@Channels@
url=http://www.streamlive.to
########################################################
title=Sport
cfg=ilive.to.cfg@Channels@Live Sport
url=http://www.streamlive.to
########################################################
title=Entertainment
cfg=ilive.to.cfg@Channels@Entertainment
url=http://www.streamlive.to
########################################################
title=Animation
cfg=ilive.to.cfg@Channels@Animation
url=http://www.streamlive.to
########################################################
title=General
cfg=ilive.to.cfg@Channels@General
url=http://www.streamlive.to
########################################################
title=News
cfg=ilive.to.cfg@Channels@News
url=http://www.streamlive.to
########################################################
title=Music
cfg=ilive.to.cfg@Channels@Music
url=http://www.streamlive.to
########################################################
title=Family
cfg=ilive.to.cfg@Channels@Family
url=http://www.streamlive.to
########################################################
title=Movies
cfg=ilive.to.cfg@Channels@Movies
url=http://www.streamlive.to





@ENDIF@
@ENDIF@

@IF(@PARAM1@==Channels)@
skill=videoTitle
catcher=streams
sort=name

item_infos=<name>([^<]+)</name>\s*<url>http://www.streamlive.to/view/([^<]+)</url>\s*<image>([^<]+)</image>\s*<category>@PARAM2@
item_order=title|_url|icon.tmp
item_skill=rss

item_info_name=icon
item_info_from=icon.tmp
item_info_build=%s|Referer=http://www.streamlive.to/&User-Agent=Mozilla/5.0 (Windows NT 6.3) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/50.0.2661.94 Safari/537.36

item_info_name=url
item_info_from=icon.tmp
item_info_build=%s|Referer=http://www.streamlive.to/&User-Agent=Mozilla/5.0 (Windows NT 6.3) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/50.0.2661.94 Safari/537.36

item_info_name=cfg
item_info_build=ilive.to.cfg@Streams

item_url_build=%s
########################################################       

@ENDIF@  

@IF(@PARAM1@==Streams)@

########################################################
item_infos=streamlive.to/snapshots/([^_]+)
item_precheck=streamlive.to/snapshots
item_order=video
@CATCH(slplay,video)@

@ENDIF@
