########################################################
# http://www.meocanaltv.com/
########################################################
catcher=streams

start=http://www.meocanaltv.com/
skill=videoTitle

item_infos=stream=([^"]+)">([^<]+)</a>
item_order=url|title
item_skill=rss

item_url_build=http://www.meocanaltv.com/embed/%s.php?width=600&height=450


########################################################
item_infos=ultracast.me/player.php\?id=(\d+)
item_precheck=ultracast.me
item_order=video
@CATCH(ultracast,video)@
